APP_PORT=8080

POSTGRES_DB=cqes
POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_BIND_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

REDIS_HOST=localhost
REDIS_BIND_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

SESSION_SECRET=change-me